/* You can add global styles to this file, and also import other style files */

/* Include theming for Angular Material with `mat.theme()`. */
/* This Sass mixin will define CSS variables that are used for styling Angular Material */
/* components according to the Material 3 design spec. */
/* Learn more about theming and how to use it for your application's */
/* custom components at https://material.angular.dev/guide/theming */
@import "tailwindcss";
@import "../../shared/src/styles/animations.css";
@import "../../shared/src/styles/material-tokens.css";
@import "../../shared/src/styles/utilities.css";
@source "../../shared";
/* @import "theme"; */
@plugin "@iconify/tailwind4";

@layer base {
  @font-face {
    font-family: "Nova Mono";
    src: url("../../shared/src/fonts/NovaMono-Regular.ttf") format("Truetype");
  }

  html,
  body {
    height: 100%;

    @apply selection:bg-(--mat-sys-primary) selection:text-(--mat-sys-on-primary) scroll-smooth;
  }

  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    @apply bg-background text-on-surface font-body selection:bg-secondary-container;
  }

  button,
  [role="button"] {
    @apply cursor-pointer;
  }

  input,
  textarea,
  select {
    @apply bg-(--mat-sys-surface-container-low)/80 hover:bg-(--mat-sys-surface-container-low) text-(--mat-sys-on-surface-container-low) px-2 py-1;
  }
}

@layer components {
  .skeleton {
    @apply animate-pulse bg-linear-to-tr from-gray-600 to-gray-400 dark:from-gray-700;
  }
}

@theme {
  --font-nova-mono: "Nova Mono";
  --default-font-family: var(--font-nova-mono);

  --font-headline: "Noto Serif";
  --font-body: "Inter";
  --font-label: "Inter";
}
