/* You can add global styles to this file, and also import other style files */

// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "tailwindcss";
@use '@angular/material' as mat;
@use "theme" as theme;
@source "../../shared";
@import "theme";
@plugin "@iconify/tailwind4";
// @plugin "@tailwindcss/forms";

@layer base {
  @include mat.theme((theme-type: color-scheme,
      color: (primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      density: 0,
    ));

  * {
    @apply [border-color:var(--mat-sys-outline)];
  }

  body {
    // Default the application to a light color theme. This can be changed to
    // `dark` to enable the dark color theme, or to `light dark` to defer to the
    // user's system settings.
    color-scheme: light dark;

    // Set a default background, font and text colors for the application using
    // Angular Material's system-level CSS variables. Learn more about these
    // variables at https://material.angular.dev/guide/system-variables
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);

    // Reset the user agent margin.
    margin: 0;
  }

  html,
  body {
    height: 100%;

    @apply selection:bg-(--mat-sys-primary) selection:text-(--mat-sys-on-primary) scroll-smooth;
  }

  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  button,
  [role=button] {
    @apply cursor-pointer;
  }

  input,
  textarea,
  select {
    @apply bg-(--mat-sys-surface-container-low)/80 hover:bg-(--mat-sys-surface-container-low) text-(--mat-sys-on-surface-container-low) px-2 py-1;
  }
}

@layer components {
  .skeleton {
    @apply animate-pulse bg-gradient-to-tr from-gray-600 to-gray-400 dark:from-gray-700 to-gray-600;
  }
}
