/* You can add global styles to this file, and also import other style files */

/* Include theming for Angular Material with `mat.theme()`. */
/* This Sass mixin will define CSS variables that are used for styling Angular Material */
/* components according to the Material 3 design spec. */
/* Learn more about theming and how to use it for your application's */
/* custom components at https://material.angular.dev/guide/theming */
@use '@angular/material' as mat;
@import "tailwindcss";
@source "../../shared";
/* @import "theme"; */
@plugin "@iconify/tailwind4";

@layer base {
	html,
	body {
		height: 100%;

		@apply selection:bg-(--mat-sys-primary) selection:text-(--mat-sys-on-primary) scroll-smooth;
	}

	body {
		margin: 0;
		font-family: Roboto, "Helvetica Neue", sans-serif;
		@apply bg-background text-on-surface font-body selection:bg-secondary-container;
	}

	button,
	[role="button"] {
		@apply cursor-pointer;
	}

	input,
	textarea,
	select {
		@apply bg-(--mat-sys-surface-container-low)/80 hover:bg-(--mat-sys-surface-container-low) text-(--mat-sys-on-surface-container-low) px-2 py-1;
	}
}

@layer components {
	.skeleton {
		@apply animate-pulse bg-linear-to-tr from-gray-600 to-gray-400 dark:from-gray-700;
	}
}

@theme {
  --color-error-container: var(--mat-sys-error-container);
  --color-inverse-surface: var(--mat-sys-surface-inverse);
  --color-surface-container-low: var(--mat-sys-surface-container-low);
  --color-primary-fixed: var(--mat-sys-primary-fixed);
  --color-outline: var(--mat-sys-outline);
  --color-inverse-on-surface: var(--mat-sys-inverse-on-surface);
  --color-surface-variant: var(--mat-sys-surface-variant);
  --color-on-tertiary-fixed: var(--mat-sys-on-tertiary);
  --color-on-secondary-fixed: var(--mat-sys-on-secondary-fixed);
  --color-outline-variant: var(--mat-sys-outline-variant);
  --color-on-primary-fixed-variant: var(--mat-sys-primary-fixed-variant);
  --color-on-primary-fixed: var(--mat-sys-on-primary-fixed);
  --color-on-secondary-container: var(--mat-sys-on-secondary-container);
  --color-secondary-fixed: var(--mat-sys-secondary-fixed);
  --color-on-error-container: var(--mat-sys-on-error-container);
  --color-surface-bright: var(--mat-sys-surface-bright);
  --color-on-surface: var(--mat-sys-on-surface-bright);
  --color-tertiary-fixed-dim: var(--mat-sys-tertiary-fixed-dim);
  --color-primary-container: var(--mat-sys-primary-container);
  --color-on-tertiary-container: var(--may-sys-on-tertiary-container);
  --color-on-secondary: var(--mat-sys-on-secondary);
  --color-error: var(--mat-sys-error);
  --color-on-tertiary-fixed-variant: var(--mat-sys-on-tertiary-fixed-variant);
  --color-on-error: var(--mat-sys-on-error);
  --color-surface: var(--mat-sys-surface);
  --color-on-background: var(--mat-sys-on-background);
  --color-on-tertiary: var(--mat-sys-on-tertiary);
  --color-tertiary: var(--mat-sys-tertiary);
  --color-secondary-container: var(--mat-sys-secondary-container);
  --color-secondary: var(--mat-sys-secondary);
  --color-surface-container: var(--mat-sys-surface-container);
  --color-tertiary-container: var(--mat-sys-tertiary-container);
  --color-on-secondary-fixed-variant: var(--mat-sys-on-secondary-fixed-variant);
  --color-on-primary: var(--mat-sys-on-primary);
  --color-inverse-primary: var(--mat-sys-inverse-primary);
  --color-tertiary-fixed: var(--mat-sys-tertiary-fixed);
  --color-surface-dim: var(--mat-sys-surface-dim);
  --color-surface-container-high: var(--mat-sys-surface-container-high);
  --color-primary-fixed-dim: var(--mat-sys-primary-fixed-dim);
  --color-surface-container-lowest: var(--mat-sys-container-lowest);
  --color-on-surface-variant: var(--mat-sys-on-surface-variant);
  --color-primary: var(--mat-sys-primary);
  --color-surface-container-highest: var(--mat-sys-surface-container-highest);
  --color-secondary-fixed-dim: var(--mat-sys-secondary-fixed-dim);
  --color-background: var(--mat-sys-background);
  --color-on-primary-container: var(--mat-sys-on-primary-container);
  --color-surface-tint: var(--mat-sys-surface-tint);

  --font-headline: "Noto Serif";
  --font-body: "Inter";
  --font-label: "Inter";
}

@utility hero-gradient {
	background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-surface-tint) 100%);
}

@utility glass-panel {
	background: rgba(249, 249, 249, 0.8);
	backdrop-filter: blur(20px);
}
