<header
  class="sticky top-0 z-50 border-b border-gray-200 dark:border-gray-800 bg-background-light/80 backdrop-blur-sm dark:bg-background-dark/80"
>
  <div class="container px-4 mx-auto sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <a routerLink="/" class="flex gap-3 items-center">
        <div class="flex items-center px-6 h-16 text-(--mat-sys-primary)">
          <span
            class="text-2xl icon-[material-symbols--school]"
            role="img"
            aria-hidden="true"
          ></span>
          <span class="ml-3 text-lg font-bold">Plug</span>
        </div>
      </a>
      <nav class="hidden gap-8 items-center md:flex">
        <a
          class="text-sm font-medium text-gray-600 transition-colors dark:text-gray-300 dark:hover:text-primary hover:text-primary"
          routerLink="/"
          >Home</a
        >
        <a
          class="text-sm font-medium text-gray-600 transition-colors dark:text-gray-300 dark:hover:text-primary hover:text-primary"
          routerLink="/features"
          >Features</a
        >
        <a
          class="text-sm font-medium text-gray-600 transition-colors dark:text-gray-300 dark:hover:text-primary hover:text-primary"
          routerLink="/pricing"
          >Pricing</a
        >
        <a
          class="text-sm font-medium text-gray-600 transition-colors dark:text-gray-300 dark:hover:text-primary hover:text-primary"
          routerLink="/contact"
          >Contact</a
        >
      </nav>
      @if (!userService.user.isLoading()) {
        @if (userService.user.hasValue()) {
          <a routerLink="/dashboard" class="" matButton="filled">Dashboard</a>
        } @else {
          <div class="flex gap-2 items-center">
            <a [href]="[`https:\//auth.${environment.domain}/login`]" class="" matButton="filled"
              >Login</a
            >
            <a [href]="[`https:\//auth.${environment.domain}/signup`]" class="" matButton
              >Get Started</a
            >
          </div>
        }
      }
    </div>
  </div>
</header>
<main class="">
  <router-outlet />
</main>
