<div class="mx-auto max-w-7xl">
  <div class="mb-8 text-center">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl dark:text-white">
      Find Your Perfect Tutorial
    </h1>
    <p class="mt-4 text-lg text-gray-600 dark:text-gray-400">
      Explore a wide range of tutorial sessions tailored to your academic needs. Use the search and
      filter options below to find the perfect tutor for you.
    </p>
    <div></div>
  </div>
  <mat-card class="mb-8">
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field class="w-full">
          <mat-icon matPrefix>
            <span
              class="absolute left-4 top-1/2 text-2xl text-gray-400 -translate-y-1/2 icon-[material-symbols--search]"
              role="img"
              aria-hidden="true"
            >
            </span>
          </mat-icon>

          <input
            type="text"
            placeholder="Search for subjects, tutors, or keywords..."
            matInput
            formControlName="q"
          />
          <mat-icon matSuffix (click)="filters.toggle()" role="button" class="cursor-pointer">
            <span
              class="absolute left-4 top-1/2 text-2xl text-gray-400 -translate-y-1/2 icon-[octicon--settings]"
              role="img"
              aria-hidden="true"
            >
            </span>
          </mat-icon>
        </mat-form-field>
        <mat-expansion-panel #filters>
          <form
            class="grid gap-4 mt-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5"
            [formGroup]="form.controls.filters"
          >
            <!-- <mat-form-field> -->
            <!--   <mat-label>Institution</mat-label> -->
            <!--   <mat-select formControlName="institution"> </mat-select> -->
            <!-- </mat-form-field> -->
            <mat-form-field>
              <mat-label>Faculty</mat-label>
              <mat-select formControlName="faculty"></mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Faculty</mat-label>
              <mat-select formControlName="department"></mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Course</mat-label>
              <mat-select formControlName="course"></mat-select>
            </mat-form-field>
          </form>
        </mat-expansion-panel>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="flex gap-2 justify-between items-center mb-6">
    <h2 class="text-lg font-bold tracking-tight sm:text-2xl">
      Available Tutorials
      @if (tutorials().data.length && tutorials().meta.total) {
        ({{ tutorials().meta.total }})
      }
    </h2>
    @if ((user() && !user()?.plug?.tutor) || !user()) {
      <a routerLink="/tutors/apply" class="sm:float-right max-sm:order-first" matButton="outlined">
        Become a tutor
      </a>
    }
  </div>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
    @for (tutorial of tutorials().data; track tutorial.id) {
      <mat-card class="relativ">
        <mat-card-content>
          <div class="flex overflow-hidden flex-col transition-transform hover:scale-110">
            <div class="flex flex-col flex-1 p-6">
              <div class="flex gap-3 items-center text-sm font-semibold">
                <span class="shrink-0 line-clamp-1 text-(--mat-sys-primary)"
                  >{{ tutorial.course?.code }}: {{ tutorial.course?.title }}</span
                >
              </div>
              <a
                [routerLink]="['/tutorial', tutorial.id]"
                class="text-2xl font-bold text-gray-900 dark:text-white line-clamp-1"
              >
                <span class="absolute inset-0"> </span>
                {{ tutorial.name }}
              </a>
              <p class="flex-1 mt-2 text-sm text-(--mat-sys-secondary) line-clamp-2">
                {{ tutorial.description }}
              </p>
              <div class="mt-4 *:flex *:items-center *:*:first:mr-2">
                <div class="">
                  <span
                    class="icon-[material-symbols--school-outline-rounded] text-(--mat-sys-primary)"
                    role="img"
                    aria-hidden="true"
                  ></span>
                  <span>{{ tutorial.tutor?.first_name }} {{ tutorial.tutor?.last_name }} </span>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    } @empty {
      <div class="col-span-full py-6 px-2 text-center">No tutorials yet. Come back later</div>
    }
  </div>
  <mat-paginator
    [pageIndex]="tutorials().meta.current_page - 1"
    [pageSize]="tutorials().meta.per_page"
    [length]="tutorials().meta.total"
    (page)="form.patchValue({ filters: { page: $event.pageIndex + 1, limit: $event.pageSize } })"
  />
</div>
