<div class="overflow-hidden relative w-full rounded aspect-video">
	<img
		[ngSrc]="`https://pub-f63e9d6103c5477cbcae0b504bd20e1b.r2.dev/instructions/${service().slug}.jpeg`"
		fill
		class="object-contain object-center"
	>
</div>
<ul class="mt-2 list-disc list-inside *:list-item">
	@switch (service().slug) { @case ('netflix') {
	<li>
		Send 1000 XAF for subscription fee to MoMo account 678631343 (name:
		Anyangwa)
	</li>
	<li class="list-item">It’s 1000 XAF per device</li>
	<li class="list-item">Open Netflix.</li>
	<li class="list-item">
		Put this email in the part for email
		<span class="text-primary">“{{ account().email }}”</span>
	</li>
	<li class="list-item">
		Then u click “Use a sign in code“ after putting the email.
	</li>
	<li class="list-item">
		Those using a
		<span class="icon-[la--tv]" role="img" aria-hidden="true"></span>TV should
		click on <span class="font-bold text-primary">send link.</span>
	</li>
	} @case ('chatgpt') {
	<li>
		Send 1000 XAF for subscription fee to MoMo account 678631343 (name:
		Anyangwa)
	</li>
	<li>Open chatgpt</li>
	<li>
		<span class="text-amber-500 icon-[typcn--warning]"></span
		><span class="text-lg font-black">DO NOT</span>
		click on
		<span class="font-semibold">Login with Google</span>
	</li>
	<li class="list-inside">
		Use the following email/passowrd to login
		<ul class="list-inside list-[circle] ps-5">
			<li>Email: <span class="font-bold">{{ account().email }}</span></li>
			<li>password: <span class="font-bold">{{ account().password }}</span></li>
		</ul>
	</li>
	} @case ('prime-video') {
	<li>
		Send 1000 XAF for subscription fee to MoMo account 678631343 (name:
		Anyangwa)
	</li>
	<li class="list-inside">
		Use the following email/passowrd to login
		<ul class="list-inside list-[circle] ps-5">
			<li>Email: <span class="font-bold">{{ account().email }}</span></li>
			<li>password: <span class="font-bold">{{ account().password }}</span></li>
		</ul>
	</li>
	} }

	<li>
		Click
		<a
			[href]="`https://wa.me/678631343?text=${message()}`"
			class="hover:underline"
			target="_blank"
		>
			<span class="inline-flex gap-1 items-center px-2">
				<span class="icon-[logos--whatsapp-icon]"></span>
				<span class="text-lg text-green-400">here</span>
			</span>
		</a>
		to send the payment screenshot in order to receive confirmation code.
	</li>
</ul>
