@switch (service().slug) { @case ('netflix') {
<ul class="list-disc list-inside">
	<li class="list-item">Open Netflix.</li>
	<li class="list-item">
		Put this email in the part for email
		<span class="text-primary">“{{ account().email }}”</span>
	</li>
	<li class="list-item">
		Then u click “Use a sign in code“ after putting the email.
	</li>
	<li class="list-item">
		Those using a
		<span class="icon-[la--tv]" role="img" aria-hidden="true"></span>TV should
		click on send link.
	</li>
	<li class="list-item">It’s 1k per device</li>
	<li class="list-item">Please send the 1k here 678631343 Name: Anyangwa.</li>
	<li class="list-item">
		Send the screen shot to
		<a href="https://wa.me/678631343" target="_blank">
			<span class="inline-flex gap-1">
				<span class="icon-[logos--whatsapp-icon]"></span>
				<span class="text-green-400">678631343</span>
			</span>
		</a>.
	</li>
</ul>
} }
